/nbproject/
/target/
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
/Blackjack/nbproject/
/Blackjack/target/
/AsciiPaint/target/
/AsciiPaint/nbproject/
/BMR/Bmr/target/
/BMR/target/
/2048/target/
/2048/nbproject/